body,html{width:100%;height:100%;padding:0;margin:0;display:flex;align-items:center;justify-content:center}h1{color:#d16060;font-family:Lato,sans-serif;font-size:48pt}img{position:absolute;left:48px;top:48px;width:48px;height:48px;border-radius:4px}